.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: chocolate;
}

.white {
  background-color: bisque;
}

.selected {
  background-color: lightblue;
}

.available {
  height: 15%;
  width: 15%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.piece {
  position: relative;
  height: 80%;
}